MTX_WEBRTCADDITIONALHOSTS=REPLACE_WITH_PUBLIC_HOST
MTX_RTSPENCRYPTION=strict
MTX_RTSPSADDRESS=:8322
MTX_RTSPSERVERCERT=/etc/isarmg/xcos/rtsp-cert.pem
MTX_RTSPSERVERKEY=/etc/isarmg/xcos/rtsp-key.pem
MTX_PATHDEFAULTS_RECORDPATH=/var/lib/isarmg/xcos/recordings/%path/%Y-%m-%d_%H-%M-%S-%f
MTX_PATHDEFAULTS_RECORDDELETEAFTER=168h
